PLONE_EXTENSION_IDS=plone.app.caching:default,plonetheme.barceloneta:default,bibliotheca.policy:default
DEFAULT_LANGUAGE=fr
ACTIVE_BIGBANG=True
# pas.plugins.kimug environment variables
application_id=iA.Bibliotheca
# Example values for oidc plugin (local dev environment)
keycloak_admin_user=admin
keycloak_admin_password=admin
keycloak_allowed_groups="[iA.Bibliotheca]"
keycloak_client_id=plone
keycloak_client_secret=12345678910
keycloak_issuer=https://keycloak.127.0.0.1.nip.io/realms/plone
keycloak_realm=plone
keycloak_redirect_uris=http://localhost:8080/Plone/acl_users/oidc/callback
keycloak_url=https://keycloak.127.0.0.1.nip.io/
# Example values for oidc-sso-apps plugin (local dev environment)
SSO_APPS_ACCESS_GROUP=access_imio-apps-bibliotheca
SSO_APPS_URL=https://keycloak.127.0.0.1.nip.io/realms/sso-apps/protocol/openid-connect/token
SSO_APPS_CLIENT_ID=imio-apps-bibliotheca
SSO_APPS_CLIENT_SECRET=imio-apps-bibliotheca-client-secret
SSO_APPS_USER_USERNAME=imio-apps-bibliotheca_belleville-ac
SSO_APPS_USER_PASSWORD=Kimug123456***
SSO_APPS_MUNICIPALITY_GROUPS="[pl_belleville-ac]"