[remotes]
imio = https://github.com/IMIO
imio_push = git@github.com:IMIO
collective = https://github.com/collective
collective_push = git@github.com:collective
plone = https://github.com/plone
plone_push = git@github.com:plone


[sources]
# from IMIO
bibliotheca.policy = git ${remotes:imio}/bibliotheca.policy.git pushurl=${remotes:imio_push}/bibliotheca.policy.git
bibliotheca.core = git ${remotes:imio}/bibliotheca.core.git pushurl=${remotes:imio_push}/bibliotheca.core.git
collective.behavior.gallery = git ${remotes:imio}/collective.behavior.gallery.git pushurl=${remotes:imio_push}/collective.behavior.gallery.git branch=plone6_fancybox
collective.preventactions = git ${remotes:collective}/collective.preventactions.git pushurl=${remotes:collective_push}/collective.preventactions.git branch=plone6
collective.upgrade = git ${remotes:collective}/collective.upgrade.git pushurl=${remotes:collective_push}/collective.upgrade.git branch=plone61
pas.plugins.kimug = git ${remotes:imio}/pas.plugins.kimug.git pushurl=${remotes:imio_push}/pas.plugins.kimug.git
plone.formwidget.geolocation = git ${remotes:imio}/plone.formwidget.geolocation.git pushurl=${remotes:imio_push}/plone.formwidget.geolocation.git branch=fix-geosearch
